{% extends "main/partials/base.html" %} {% block title %} {{ title }} {%
endblock %} {% block content %}

<section class="category__wrapper">
  <div class="paddings innerWidth flexCenter category__container">
    <div class="category__des">
      <h1 class="primaryText"><a href="{{url_for('mintverse.home_page')}}#best-wrapper">Home</a> <i class="fa fa-angle-right" style="color: white;"></i> Explore all Categories</h1>
      <p>Every step of the NFT creation process, <br>from generation to mint— <strong style="color: cyan;">no experience</strong> is required.</p>
    </div>

    <div class="category__content">

    </div>
    <div class="category__des">
      <h1 class="primaryText"><a href="{{url_for('mintverse.home_page')}}#best-wrapper">Home</a> <i class="fa fa-angle-right" style="color: white;"></i> Explore all Categories</h1>
    </div>
  </div>
</section>

{% endblock %}
