{% set active = "about" %} {% extends "main/partials/base.html" %} {% block
title %} {{ title }} {% endblock %} {% block content %}

<section class="about__wrapper" id="about">
  <div class="paddings innerWidth flexCenter about__container">
    <div class="about__banner">
      <h1 class="primaryText">About</h1>
    </div>
    <div class="about__content">
      <h4 class="primaryText">About Us</h4>

      <p>
        Welcome to <strong>MintVerse</strong>, your ultimate NFT marketplace
        where creativity meets blockchain technology. We are a next-generation
        platform designed to empower artists, collectors, and investors by
        providing a seamless, secure, and innovative NFT trading experience.
      </p>

      <p>
        At MintVerse, we believe in the power of digital ownership. Our
        marketplace offers a diverse collection of NFTs, including exclusive
        artwork, music, gaming assets, and more. With a commitment to
        authenticity, transparency, and decentralization, we ensure that every
        NFT is verifiable, rare, and truly one of a kind.
      </p>

      <p>
        Whether you're an artist looking to tokenize your work, a collector
        hunting for unique pieces, or an investor seeking new opportunities,
        MintVerse is your gateway to the future of digital assets. Join our
        growing community and be part of the NFT revolution today!
      </p>

      <h4 class="primaryText">Our Address</h4>
      <h3>
        Our Corporate office is located at
        <strong>66 Pacella Park Dr, Randolph, MA 02368</strong>.
      </h3>

      <h4 class="primaryText">Explore the Marketplace</h4>
      <h2>
        <a href="https://wwww.mintverse.art" target="_blank" style="color: #0d77e0"
          >mintverse.art</a
        >
      </h2>

      <h4 class="primaryText">Contact Us</h4>
      <h3>
        Email:
        <a href="mailto:support@mintverse.art" style="color: #0d77e0"
          >support@mintverse.art</a
        >,
        <a href="mailto:info@mintverse.art" style="color: #0d77e0"
          >info@mintverse.art</a
        >
        <br />
        WhatsApp:
        <a
          href="https://wa.me/447884773374"
          target="_blank"
          style="color: #0d77e0"
          >+1 (831) 665-3506</a
        >
      </h3>
    </div>
  </div>
</section>

{% endblock %}
