{% set active = "marketplace" %}
{% extends "main/partials/base_2.html" %}
 {% block title %} {{ title }} {%endblock %} 
    {% block content %}
        <section class="explore__wrapper">
            <div class="paddings innerWidth flexCenter explore__container">
                <div class="explore__filter">
                    <h1><a href="{{url_for('mintverse.home_page')}}">All Nfts</a> </h1>
                    <h1><a href="{{url_for('mintverse.category_page')}}">Categories</a> </h1>
                </div>
            
                <div class="explore__content">
            
                </div>
                <div class="explore__filter">
                    <h1><a href="{{url_for('mintverse.home_page')}}">All Nfts</a> </h1>
                    <h1><a href="{{url_for('mintverse.category_page')}}">Categories</a> </h1>
                </div>
            </div>
        </section>
    {% endblock %}
