{% extends "main/partials/base.html" %} {% block title %} {{ title }} {%
endblock %} {% block content %}
<section class="about__wrapper" id="search">
  <div class="paddings innerWidth flexCenter about__container">
    <h1 class="primaryText">
      <a href="{{url_for('mintverse.home_page')}}" style="color: #1e53e5; font-family: 'Sour Gummy', sans-serif;">Home</a>
      <i class="fa fa-angle-right" style="color: white"></i> Search Results
    </h1>

    <div class="about__content">
      <div class="search__title-box">
        <h3>SEARCH RESULTS</h3>
      </div>
      {% if results %} {% for result in results %}
        <div class="card">
            <a href="/category/{{result.category}}" class="card-body">
                <h5 class="card-title">{{ result.nft_name }}</h5>
                <p class="card-text">Category: {{ result.category.capitalize() }}</p>
                <p class="card-text">Description: {{ result.description }}</p>
            </a>
        </div>
      {% endfor %} {% else %}
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">No result found</h5>
          <p class="card-text">
            There's no "Category" nor "Description" matching your search. Please check your spelling.
          </p>
        </div>
      </div>
      {% endif %}
    </div>
    <h1 class="primaryText">
      <a href="{{url_for('mintverse.home_page')}}" style="color: #1e53e5;">Home</a>
      <i class="fa fa-angle-right" style="color: white"></i> Search Results
    </h1>
  </div>
</section>

{% endblock %}
