{% set alerts = get_flashed_messages(with_categories=true) %}
<!-- {{ alerts }} -->
<style>
  .alert-container {
    position: fixed;
    width: 100%;
    top: 160px;
    right: 50px;
    z-index: 9999;
    max-width: 400px;
  }
  .alert-container > .alert {
    width: 100% !important;
  }

  @media screen and (max-width: 1025px) and (max-width: 1080px) {
    .alert-container {
      top: 2rem;
      right: 30px;
      max-width: 350px;
    }
  }

  @media screen and (max-width: 992px) {
    .alert-container {
      top: 3rem;
      right: 30px;
      max-width: 300px;
    }
  }

  @media screen and (max-width: 325px) {
    .alert-container {
      top: 3rem;
      right: 10px;
      max-width: 250px;
    }
  }
</style>
{% if alerts|length %}
  <div class="alert-container">
    {% for category, message in alerts %}
      {% if category == 'warning' %}
        <div class="alert alert-dismissible fade show alert-warning" role="alert">
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          {{ message }}
        </div>
      {% elif category == 'success' %}
        <div class="alert alert-dismissible fade show alert-success" role="alert">
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          {{ message }}
        </div>
      {% elif category == 'danger' %}
        <div class="alert alert-dismissible fade show alert-danger" role="alert">
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          {{ message }}
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}