{% set active = "contact" %} {% extends "main/partials/base.html" %} {% block
title %} {{ title }} {% endblock %} {% block content %}

<section class="contact__wrapper" id="contact">
  <div class="paddings innerWidth flexCenter contact__container">
    <div class="contact__banner">
        <h1 class="primaryText">Contact</h1>
      </div>
    <div class="contact__content">
      <form
        class="flexColCenter contact__form"
        action="{{ url_for('mintverse.contact_page') }}"
        method="post"
      >
        {% include "auth/partials/_alert.html" %} {{ form.csrf_token }}
        <div class="contact__input-container grid">
          <div class="contact__form-div">
            {{ form.name.label(class="contact__form-tag") }} {{ form.name() }}
          </div>

          <div class="contact__form-div">
            {{ form.email.label(class="contact__form-tag") }} {{ form.email() }}
          </div>

          <div class="contact__form-div">
            {{ form.subject.label(class="contact__form-tag") }} {{
            form.subject() }}
          </div>

          <div class="contact__form-div">
            {{ form.message.label(class="profile__form-tag") }} {{
            form.message(rows=10, cols=30) }}
          </div>
          {{ form.submit() }}
        </div>
      </form>
    </div>
  </div>
</section>

{% endblock %}
