<div class="navbar-custom">
  <div class="topbar container-fluid">
    <div class="d-flex align-items-center">
  

      <!-- Sidebar Menu Toggle Button -->
      <button class="button-toggle-menu">
        <i class="fa fa-bars-progress"></i>
      </button>

      <!-- Topbar Search Form -->
      <div class="app-search d-none d-lg-block">
        <form method="POST" action="{{ url_for('admin.search') }}">
          {{ search_form.csrf_token }}
            <div class="input-group">
                {{ search_form.searched() }}
                  <button type="submit" class="btn-search btn-primary rounded-end-pill" >
                    <i class="fa fa-search search-icon text-muted"></i>
                  </button>
            </div>
        </form>
      </div>
    </div>

    <ul class="topbar-menu d-flex align-items-center gap-3">
      <li class="dropdown d-lg-none">
        <a class="nav-link dropdown-toggle arrow-none" data-bs-toggle="dropdown" href="#" role="button"
            aria-haspopup="false" aria-expanded="false">
            <i class="fa fa-search fs-22"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-animated dropdown-lg p-0">
            <form class="p-3 d-flex" method="POST" action="{{ url_for('admin.search') }}">
              {{ search_form.csrf_token }}
              {{ search_form.searched()}}
                <button type="submit" class="btn-search btn-primary rounded-end-pill" >
                  <i class="fa fa-search search-icon text-muted"></i>
                 </button>
            </form>
        </div>
      </li>
      
      <li class="d-sm-inline-block">
        <a class="add__nft-btn btn" data-bs-placement="top" href="{{ url_for('admin.add_nft') }}">
          Add NFTs
        </a>
      </li>

      <li class="d-sm-inline-block">
        <a class="nav-link tooltips" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Refresh" href="{{ url_for(request.endpoint, **request.view_args) }}">
          <i class="fa fa-refresh fs-19"></i>
        </a>
      </li>

      <li class="d-sm-inline-block">
        <a class="nav-link tooltips" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add User" href="{{ url_for('admin.add_user') }}">
          <i class="fa fa-user-plus fs-19"></i>
        </a>
      </li>



      <li class="dropdown">
        <a class="nav-link dropdown-toggle arrow-none nav-user" data-bs-toggle="dropdown" href="#" role="button"
          aria-haspopup="false" aria-expanded="false">
          <span class="account-user-avatar">
            <img src="/static/admin/assets/images/admin_img_cropped.jpg" alt="user-image" width="32"
              class="rounded-circle">
          </span>
          <span class="d-lg-block d-none">
            <h5 class="my-0 fw-normal">{{ current_user.name }} <i
                class="fa fa-angle-down d-none d-sm-inline-block align-middle"></i></h5>
          </span>
        </a>
        <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated profile-dropdown">
          <!-- item-->
          <div class=" dropdown-header noti-title">
            <h6 class="text-overflow m-0">Welcome!</h6>
          </div>

          <!-- item-->
          <a href="{{ url_for('admin.admin_profile') }}" class="dropdown-item">
            <i class="fa fa-user-circle fs-18 align-middle me-1"></i>
            <span>My Account</span>
          </a>

          <!-- item-->
          <!-- <a href="" class="dropdown-item">
            <i class="ri-settings-4-line fs-18 align-middle me-1"></i>
            <span>Settings</span>
          </a> -->

          <a href="{{ url_for('auth.logout') }}" class="dropdown-item text-danger">
            <i class="fa fa-sign-out text-danger fs-18 align-middle me-1"></i>
            <span>Logout</span>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>

