{% extends "admin/partials/_layout.html" %}
{% block title %} {{ title }} {% endblock %}
{% block content %}  
    <div class="content">
        <!-- Start Content-->
        <div class="container-fluid">
            <div>
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item inactive">
                        <a href="{{ url_for('admin.admin_dashboard') }}">ADMIN DASHBOARD</a>
                    </li>
                    <li class="breadcrumb-item">
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li class="breadcrumb-item active">ADD USER</li>
                </ol>
            </div>
            <div class="page-title-box ">
                <h3>ADD USER</h3>
            </div>
            <hr>
            <!-- form -->
            <form action="{{ url_for('admin.add_user') }}" method="post">
                {% include "auth/partials/_alert.html" %}
                {{ form.csrf_token }}
                <div class="mb-3">
                    {{ form.name.label }} {{ form.name() }}
                </div>
                <div class="mb-3">
                    {{ form.email.label }} {{ form.email() }}
                </div>
                <div class="mb-3">
                    {{ form.password.label }}
                    <span style="display: flex;">
                        {{ form.password() }}
                        <span id="password_show_hide"
                         onclick="togglePass()">
                            <i class="fa fa-eye" id="passIcon"></i>
                        </span>
                    </span>
                </div>
                <div class="mb-3">
                    {{ form.confirm_password.label }}
                    <span style="display: flex;">
                        {{ form.confirm_password() }} 
                        <span id="password_show_hide" onclick="toggleConfirmPass()">
                            <i class="fa fa-eye" id="confirmPassIcon"></i>
                        </span>
                    </span>
                </div>
                <div class="mb-0 text-start">                    
                    {{ form.submit() }} 
                </div>
            </form>
            <!-- end form-->
        </div>
    </div>    
{% endblock %}