{% set active = "adminnftlisting" %} {% extends "admin/partials/_layout.html" %}
{% block title %} {{ title }} {% endblock %} {% block content %}
<div class="content">
  <!-- Start Content-->
  <div class="container-fluid">
    <div>
      <ol class="breadcrumb m-0">
        <li class="breadcrumb-item inactive">
          <a href="{{ url_for('admin.admin_dashboard') }}">ADMIN DASHBOARD</a>
        </li>
        <li class="breadcrumb-item">
          <i class="fa fa-angle-right"></i>
        </li>
        <li class="breadcrumb-item active">ADMIN NFT LISTING</li>
      </ol>
    </div>
    <div class="page-title-box">
      <h3>ADMIN NFT LISTING</h3>
      <button
        type="button"
        class="btn btn-danger"
        data-bs-toggle="modal"
        data-bs-target="#deleteModal"
      >
        Delete All Nfts<i class="fa fa-trash ml-2"></i>
      </button>
    </div>
    <!-- Delete Confirmation Modal -->
    <div
      class="modal fade"
      id="deleteModal"
      tabindex="-1"
      aria-labelledby="deleteModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete "All Nfts"?
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              No
            </button>
            <form action="{{ url_for('admin.delete_all_nfts') }}" method="POST">
              <button type="submit" class="btn btn-danger">Yes</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <hr />
    {% if nfts %}
    <div class="table-responsive">
      <table class="table table-striped table-condensed mb-0">
        <thead>
          <tr>
            <th>Id</th>
            <th>Ref Number</th>
            <th>Name</th>
            <th>NFT Image</th>
            <th>Price</th>
            <th>Category</th>
            <th>Collection Name</th>
            <th>Status</th>
            <th>Creator</th>
            <th>Buyer</th>
            <th>Royalties (%)</th>
            <th>Views</th>
            <th>Date created</th>
          </tr>
        </thead>
        <tbody>
          {% for nft in nfts %}
          <tr>
            <td>{{ nft.id }}</td>
            <td style="max-width: 7rem">{{ nft.ref_number }}</td>
            <td>{{ nft.nft_name }}</td>
            <td style="max-width: 5rem">
              <a href="{{nft.nft_image}}" target="_blank">
                <img
                  src="{{ nft.nft_image }}"
                  alt="{{ nft.nft_name }}"
                  width="40"
                />
              </a>
            </td>
            <td>{{ nft.price }} ETH</td>
            <td>{{ nft.category }}</td>
            <td>{{ nft.collection_name }}</td>
            <td>{{ nft.status.value }}</td>
            <td>{{ nft.creator }}</td>
            <td>{{ nft.buyer }}</td>
            <td>{{ nft.royalties }}</td>
            <td>{{ nft.views }}</td>
            <td>{{ nft.timestamp }}</td>
            <td>
              <a
                href="{{ url_for('admin.nft_details', ref_number=nft.ref_number) }}"
                class="btn btn-success"
                >View</a
              >
            </td>
            <td>
              <a
                href="{{ url_for('admin.edit_nft_details', ref_number=nft.ref_number) }}"
                class="btn btn-warning"
                >Edit</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
    <p>No Nfts available yet.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
