{% extends "admin/partials/_layout.html" %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div>
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item inactive"><a href="{{ url_for('admin.admin_dashboard') }}">ADMIN DASHBOARD</a></li>
                    <li class="breadcrumb-item"><i class="fa fa-angle-right"></i></li>
                    <li class="breadcrumb-item inactive"><a href="{{ url_for('admin.users_listing') }}">USERS LISTING</a></li>
                    <li class="breadcrumb-item"><i class="fa fa-angle-right"></i></li>
                    <li class="breadcrumb-item active">EDIT PROFILE</li>
                </ol>
            </div>
            <div class="page-title-box">
                <h3>EDIT PROFILE</h3>
            </div>
            <hr>
            <!-- form -->
            <form action="{{ url_for('admin.edit_profile', usr_id=user.usr_id) }}" method="post">
                {% include "auth/partials/_alert.html" %}
                {{ form.csrf_token }}
                <div class="mb-3">
                    {{ form.name.label }} {{ form.name() }}
                </div>
                <div class="mb-3">
                    {{ form.email.label }} {{ form.email() }}
                </div>
                <div class="mb-3">
                    {{ form.password.label }} {{ form.password() }}
                </div>
                <div class="mb-0 text-start">
                    <button class="btn btn-danger" type="reset">
                        Clear All Inputs<i class="fa fa-trash ml-2"></i>
                    </button>
                    {{ form.submit() }}
                </div>
            </form>
            <!-- end form-->
        </div>
    </div>
{% endblock %}
