<div class="leftside-menu">
  <a href="{{ url_for('mintverse.home_page') }}" class="logo logo-light">
    <span class="logo-lg">
      <img src="/static/admin/assets/images/app_logo.avif" alt="Brynno International School logo">
    </span>
  </a>

  <!-- Sidebar -left -->
  <div class="h-100" id="leftside-menu-container" data-simplebar>
    <!--- Sidemenu -->
    <ul class="side-nav">

      <li class="side-nav-title">Main</li>

      <li class="side-nav-item {% if active == 'home' %} menuitem-active {% endif %}">
        <a href="{{ url_for('mintverse.home_page') }}" class="side-nav-link">
          <i class="fa fa-globe-africa"></i>
          <span> Back to Site </i></span>
        </a>
      </li>
      <li class="side-nav-item {% if active == 'admin' %} menuitem-active {% endif %}">
        <a href="{{ url_for('admin.admin_dashboard') }}" class="side-nav-link">
          <i class="fa fa-user-gear"></i>
          <span> Admin Panel </i></span>
        </a>
      </li>
      <li class="side-nav-item {% if active == 'adminnftlisting' %}  menuitem-active {% endif %}">
        <a href="{{ url_for('admin.admin_nft_listing') }}" class="side-nav-link">
          <i class="fa fa-image"></i>
          <span> NFT Listing (Admin) </i></span>
        </a>
      </li>
      <li class="side-nav-item {% if active == 'users' %}  menuitem-active {% endif %}">
        <a href="{{ url_for('admin.users_listing') }}" class="side-nav-link">
          <i class="fa fa-users-between-lines"></i>
          <span> Users Listing </i></span>
        </a>
      </li>
      <li class="side-nav-item {% if active == 'wallet' %}  menuitem-active {% endif %}">
        <a href="{{ url_for('admin.wallet_deposits') }}" class="side-nav-link">
          <i class="fa fa-money-bill"></i>
          <span> Wallet Deposits </i></span>
        </a>
      </li>
      <li class="side-nav-item {% if active == 'gasfee' %}  menuitem-active {% endif %}">
        <a href="{{ url_for('admin.gasfee_deposits') }}" class="side-nav-link">
          <i class="fa fa-gas-pump"></i>
          <span> Gasfee Deposits </i></span>
        </a>
      </li>
      <li class="side-nav-item {% if active == 'transactions' %}  menuitem-active {% endif %}">
        <a href="{{ url_for('admin.transactions') }}" class="side-nav-link">
          <i class="fa fa-money-bill-transfer"></i>
          <span> Transactions </i></span>
        </a>
      </li>
      <li class="side-nav-item {% if active == 'withdrawals' %}  menuitem-active {% endif %}">
        <a href="{{ url_for('admin.withdrawals') }}" class="side-nav-link">
          <i class="fa fa-fax"></i>
          <span> Withdrawals </i></span>
        </a>
      </li>
      <li class="side-nav-item {% if active == 'mintingrequests' %}  menuitem-active {% endif %}">
        <a href="{{ url_for('admin.minting_requests') }}" class="side-nav-link">
          <i class="fa fa-add"></i>
          <span> Minting Requests (Users)</i></span>
        </a>
      </li>
      <li class="side-nav-item {% if active == 'offers' %}  menuitem-active {% endif %}">
        <a href="{{ url_for('admin.admin_offers') }}" class="side-nav-link">
          <i class="fa fa-hand"></i>
          <span> Offers </i></span>
        </a>
      </li>

    </ul>
    <!--- End Sidemenu -->
    <div class="clearfix"></div>
  </div>
</div>      
     
