{% extends "admin/partials/_layout.html" %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div>
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item inactive"><a href="{{ url_for('admin.admin_dashboard') }}">ADMIN DASHBOARD</a></li>
                    <li class="breadcrumb-item"><i class="fa fa-angle-right"></i></li>
                    <li class="breadcrumb-item inactive"><a href="{{ url_for('admin.users_listing') }}">ADMIN NFT LISTING</a></li>
                    <li class="breadcrumb-item"><i class="fa fa-angle-right"></i></li>
                    <li class="breadcrumb-item active">EDIT NFT DETAILS</li>
                </ol>
            </div>
            <div class="page-title-box">
                <h3>EDIT NFT DETAILS</h3>
            </div>
            <hr>
            <!-- form -->
            <form action="{{ url_for('admin.edit_nft_details', ref_number=nft.ref_number) }}" method="post" enctype="multipart/form-data">
                {% include "auth/partials/_alert.html" %}
                {{ form.csrf_token }}
                <div>
                    <p class="primaryText">Upload file</p>
                    <p class="secondaryText" style="margin-top: 5px">
                        JPG, PNG, AVIF, GIF, WEBP, GLB, MP4 or MP3. Max 100 MB.
                    </p>
                </div>
                <div class="addnft__form-img-upload-box">
                    <div>
                        <i class="fa fa-cloud-arrow-up"></i>
                        <p>Click the "Choose File" button to upload</p>
                        {{ form.nft_image.label(class="addnft__form-tag")}} {{form.nft_image() }}
                        <p id="file-name" style="margin-top: 10px; font-weight: bold"></p>
                    </div>
                </div>

                <script>
                    function showFileName() {
                        const input = document.getElementById("nft_image");
                        const fileNameDisplay = document.getElementById("file-name");

                        if (input.files.length > 0) {
                        fileNameDisplay.textContent = `Selected file: ${input.files[0].name}`;
                        } else {
                        fileNameDisplay.textContent = ""; // Clear text if no file is selected
                        }
                    }
                </script>

               <div class="mb-3">
                    {{ form.nft_name.label }} {{ form.nft_name() }}
                </div>
                <div class="mb-3">
                    {{ form.category.label }} {{ form.category() }}
                </div>
                <div class="mb-3">
                    {{ form.collection_name.label }} {{ form.collection_name() }}
                </div>
                <div class="mb-3">
                    {{ form.price.label }} {{ form.price() }}
                </div>
                <div class="mb-3">
                    {{ form.creator.label }} {{ form.creator() }}
                </div>
                <div class="mb-3">
                    {{ form.royalties.label }} {{ form.royalties() }}
                </div>
                <div class="mb-3">
                    {{ form.views.label }} {{ form.views() }}
                </div>
                <div class="mb-3">
                    {{ form.state.label }} {{ form.state() }}
                </div>
                <div class="mb-3">
                    {{ form.description.label }} {{ form.description() }}
                </div>
                <div class="mb-0 text-start">
                    <button class="btn btn-danger" type="reset">
                        Clear All Inputs<i class="fa fa-trash ml-2"></i>
                    </button>
                    {{ form.submit() }}
                </div>
            </form>
            <!-- end form-->
        </div>
    </div>
{% endblock %}
