{% set active = "offers" %}
{% extends "admin/partials/_layout.html" %}

{% block title %} {{ title }} {% endblock %}
{% block content %}
<div class="content">
  <div class="container-fluid">
    <div>
      <ol class="breadcrumb m-0">
        <li class="breadcrumb-item inactive">
          <a href="{{ url_for('admin.admin_dashboard') }}">ADMIN DASHBOARD</a>
        </li>
        <li class="breadcrumb-item">
          <i class="fa fa-angle-right"></i>
        </li>
        <li class="breadcrumb-item active">OFFERS</li>
      </ol>
    </div>

    <div class="page-title-box">
      <h3>OFFERS</h3>
    </div>
    <hr />

    {% if offers %}
    <div class="table-responsive">
      <table class="table table-striped table-condensed mb-0">
        <thead>
          <tr>
            <th>ID</th>
            <th>User</th>
            <th>NFT Name</th>
            <th>Image</th>
            <th>Offer</th>
            <th>Buyer</th>
            <th>Status</th>
            <th>Timestamp</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for offer in offers %}
          <tr>
            <td>{{ offer.id }}</td>
            <td>{{ offer.user_id }}</td>
            <td>{{ offer.nft_name }}</td>
            <td>
              <a href="{{offer.nft_image}}" target="_blank">
               
                <img src="{{ offer.nft_image }}" alt="{{ offer.nft_name }}" width="40"></td>
              </a>
            <td>{{ offer.offered_price }} ETH</td>
            <td>{{ offer.buyer }}</td>
            <td>
              <span class="badge 
                {% if offer.action == 'Pending' %}badge-warning
                {% elif offer.action == 'Accepted' %}badge-success
                {% else %}badge-danger{% endif %}">
                {{ offer.action }}
              </span>
            </td>
            <td>{{ offer.timestamp.strftime('%d-%m-%Y %H:%M:%S') }}</td>
            <td>
              {% if offer.action == "Pending" %}
              <a href="{{ url_for('admin.approve_offer', offer_id=offer.id) }}" class="btn btn-success">Approve</a>
              <a href="{{ url_for('admin.reject_offer', offer_id=offer.id) }}" class="btn btn-danger">Reject</a>
              {% else %}
              <span class="text-muted">Completed</span>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
    <p>No Offers available yet.</p>
    {% endif %}
  </div>
</div>
{% endblock %}